body {
    background-color: #3d1130;
    color: #c09bb5;
    width: auto;
}

header{
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    width: 100%;
    background-color: #180713;
    align-items: center;
    backdrop-filter:blur(.25em);
    top: 0;
 }

header nav ul li h1{
    display: flex;
    margin: auto;
    width: 100%;
 }

nav ul{
    display: flex; 
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
 }

nav li{
    padding-left: 0.4em;
    padding-right: 0.4em;
 }

header a{
    color: #c09bb5;
    border-radius: 0.4em;
    padding: 0.3em;
    list-style-type: none;
    text-decoration: none;
 }

header a:hover{
    background-color: #c09bb5;
    color: #3d1130;
    transition: 200ms linear 150ms;
 }

main a {
    list-style-type: none;
    text-decoration: none;
    border-radius: 0.4em;
    padding: 0.3em;
    background-color: #c09bb5;
    color: #3d1130;
 }

main a:hover{
    background-color: #180713;
    color: #c09bb5;
    transition: 200ms linear 150ms;
 }


main.about section{
   display: flex;
}

main.about img:first-of-type{
   border-radius: 20%;
} 


.myself {
   padding: 10px, 10px, 0 ,10px;
   display: grid;
   grid-template-columns: repeat(3, 1fr); /* 3 kolommen: titel | tekst | afbeelding */
   gap: 20px;
   grid-auto-rows: auto;
   align-items: start; /* Zorgt ervoor dat alles bovenaan uitgelijnd wordt */
}

.headerme {
   grid-column: 1 / 2; /* Links boven de tekst */
   grid-row: 2;
}

.textme {
   grid-column: 1 / 3; /* Verspreid over 2 kolommen */
   grid-row: 3;
}

.imageme {
   grid-column: 3 / 4; /* Afbeelding helemaal rechts */
   grid-row: 3 / ; /* Laat het de hoogte van header + tekst innemen */
   width: 50%; /* Houd de breedte flexibel */
   height: 90%;
   object-fit: cover; /* Zorgt dat de afbeelding mooi geschaald wordt */
}